@charset "utf-8";

// Functions
@function findDarkColor($color) {
	@if type-of($color) == 'color' {
		@return scale-color($color, $lightness: -20%);
	}
	@return $dark;
}
// Colors
$sand: #EEE8A9;
$sand-darker: findDarkColor($sand);
$cloud: #E6F4F1;
$sea: #0058AD;
$sky: #00A6DE;
$deep: #363636;
$white: #fff;
$grey: #4A4A4A;

$primary: $cloud;
$secondary: $sea;
$link: $white;
$info: $sky;
$success: $deep;
$warning: $sand;

$strong-color: $sand-darker;
// Borders
$border-light: $info;

// Links
$link-hover: $warning;

// Body
$body-background-color: $primary;
$body-color: $grey;

// Navbar
$navbar-background-color: $info;
$navbar-item-color: $primary;
$navbar-item-hover-color: $secondary;
$navbar-item-hover-background-color: $warning;

// Just used with the navbar, but created in case it wants to be used
// in other items
.is-boxshadow {
	box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1)
}

// Pseudo-general
:focus {
	outline: 0px;
}

// html
html {
	scroll-behavior: smooth;
}

// Sections
section {
	&:nth-of-type(odd) {
		background-color: $secondary;
		h2, p {
			color: $white;
		}
	}
	&:nth-of-type(even) {
		background-color: $primary;
		h2, p {
			color: $deep;
		}
		.card-header-title {
			color: $deep;
		}
	}
}

// Cards
$card-background-color: none;
$card-shadow: none;
$card-header-shadow: 0 0.125em 0.25em rgba($sand-darker, 0.15);
$card-header-color: $white;
$card-footer-background-color: $info;
$card-footer-color: $white;

.card-footer-item {
	color: $white;
	font-weight: bold;
}

.card-content {
	a {
		color: $sand-darker;
	}
	li {
		color: $white;
	}
	figcaption {
		color: $white;
	}
}

// Tags
$tag-background-color: $warning;
$tag-color: $secondary;

.tag {
	font-weight: bold;
	&:hover {
		color: $info;
		text-decoration: none !important;
	}
}

// Buttons
$button-hover-color: $info;

// Breadcrumb
.breadcrumb {
	li {
		&.is-active a {
			color: $sand-darker !important;
		}
	}
}

.breadcrumb li.is-active a {
	color: $sand-darker !important;
}

// Forms
$label-color: $sand-darker;
.checkbox, .radio {
	color: $white;

	&:hover {
		color: $sand !important;
	}
}

form {
	@extend .mb-5;
}

// Footer
$footer-background-color: $sand;
footer {
	a {
		color: $info;
		&:hover {
			color: $deep;
		}
	}
	strong {
		color: $grey;
	}
}

// Scroll-up
#scroll-up {
	position: fixed;
	bottom: 5%;
	right: 5%;
	z-index: 99;
	border-radius: 100%;

	.icon {
		height: 4rem;
		width: 4rem;
	}
}

// Carousel
.slider-container {
	align-items: center;

	figure {
		max-width: 580px;
	}
}

// Cookie Consent
.cc-message {
	@extend .mt-4;
	@extend .mb-4;
}

// Matomo
#matomo-opt-out {
	width: 100%;
	border: 0px;
}

// Imports
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-carousel/src/sass/index.sass";
