{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="hero is-info has-text-centered">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Últimas entradas en el blog</h1>
				<nav class="breadcrumb has-arrow-separator is-centered" aria-label="breadcrumbs">
					<ul>
						<li><a href="{{ SITEURL }}"><span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span><span>Coruja Digital</span></a></li>
						<li><a href="{{ SITEURL }}/blog"><span class="icon is-small"><i class="fas fa-blog" aria-hidden="true"></i></span>Blog</a></li>
						<li><a href="{{ SITEURL }}/blog/cat/{{ article.category.slug }}"><span class="icon is-small"><i class="fas fa-folder" aria-hidden="true"></i></span>{{ article.category }}</a></li>
						<li class="is-active"><a href="#" aria-current="page"><span class="icon is-small"><i class="fas fa-file-alt" aria-hidden="true"></i></span>{{ article.title }}</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<section class="section">
		<div class="columns is-centered is-vcentered">
			<div class="column is-three-fifths">
				<div class="card">
					<header class="card-header">
						<div class="columns is-multiline">
							<div class="columni is-full-mobile has-text-centered-mobile">
								<h1 class="card-header-title title">
									{{ article.title }}
								</h1>
								{% if article.subtitle %}
									<h2 class="subtitle">
										{{ article.subtitle }}
									</h2>
								{% endif %}
							</div>
							<div class="column is-narrow has-text-right mt-5 is-full-mobile has-text-centered-mobile">
								<p>
									<time itemprop="dateCreated" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
								</p>
								<p>
									<a class="tag" href="/blog/cat/{{ article.category.slug }}">{{ article.category }}</a>
								</p>
							</div>
						</div>
					</header>
					<div class="card-content">
						<div class="content">
						  {{ article.content }}
						</div>
					</div>
					<footer class="card-footer">
						{% if article.tags %}
							<div class="tags card-footer-item is-vcentered mt-2 mb-2">
						    {% for tag in article.tags %}
									<a class="tag" href="/blog/tag/{{ tag.slug }}">{{ tag }}</a>
								{% endfor %}
							</div>
						{% endif %}
            {% if article.modified %}
							<p class="card-footer-item">Última actualización: {{ article.locale_modified }}</p>
            {% endif %}
					</footer>
				</div>
			</div>
		</div>
	</section>
    <!--
    <h1>{{ article.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}

    

    {% if article.modified %}
        <p>
        Última actualización: {{ article.locale_modified }}
        </p>
    {% endif %}
    -->
{% endblock %}
