{% extends "base.html" %}

{% block title %}Entradas categorizadas como {{ category|striptags }} - {{ SITENAME }}{%endblock%}

{% block content %}
<div class="hero is-info has-text-centered">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Entradas del blog categorizadas como <span class="tag is-large">{{ category }}</span></h1>
				<nav class="breadcrumb has-arrow-separator is-centered" aria-label="breadcrumbs">
					<ul>
						<li><a href="{{ SITEURL }}"><span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span><span>Coruja Digital</span></a></li>
						<li><a href="{{ SITEURL }}/blog"><span class="icon is-small"><i class="fas fa-blog" aria-hidden="true"></i></span>Blog</a></li>
						<li class="is-active"><a href="#" aria-current="page"><span class="icon"><i class="fas fa-folder" aria-hidden="true"></i></span>{{ category }}</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
  {% for article in dates %}
		<section class="section">
			<div class="columns is-centered">
				<div class="column is-half">
					<div class="card">
						<header class="card-header pt-4 is-shadowless has-text-centered">
							<div class="column">
								<h1 class="card-header-title title">
									{{ article.title }}
								</h1>
								{% if article.subtitle %}
									<h2 class="subtitle">
										{{ article.subtitle }}
									</h2>
								{% endif %}
							</div>
							<div class="column is-narrow has-text-right mt-5">
								<p>
									<time itemprop="dateCreated" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
								</p>
								<p>
									<span class="tag">{{ article.category }}</span>
								</p>
							</div>
						</header>
						<div class="card-content">
							<div class="content">
								<p class="subtitle">
									{{ article.summary }}
								</p>
							</div>
						</div>
						<footer class="card-footer">
							<a href="/blog/{{ article.slug }}" class="card-footer-item">Leer más</a>
						</footer>
					</div>
				</div>
			</div>
		</section>
	{% endfor %}
{% endblock %}
