{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="columns is-centered">
		<div class="column is-half">
			<div class="card">
				<div class="card-header pt-4 is-shadowless has-text-centered">
					<h2 class="card-header-title title">
						{{ CARD_FOUR["title"] }}
					</h2>
				</div>
				<div class="card-content">
					<div class="content">
						<p class="subtitle">
							{{ CARD_FOUR["content"] }}
						</p>
					</div>
				</div>
				<footer class="card-footer">
					<a href="{{ CARD_FOUR['slug'] }}" class="card-footer-item">{{ CARD_FOUR["more"] }}</a>
				</footer>
			</div>
		</div>
	</div>
</section>
<section class="section">
  <div class="columns is-centered">
		<div class="column is-half">
			<div class="card">
				<div class="card-header pt-4 is-shadowless has-text-centered">
					<h2 class="card-header-title title">
						{{ CARD_ONE["title"] }}
					</h2>
				</div>
				<div class="card-content">
					<div class="content">
						<p class="subtitle">
							{{ CARD_ONE["content"] }}
						</p>
					</div>
				</div>
				<footer class="card-footer">
					<a href="{{ CARD_ONE['slug'] }}" class="card-footer-item">{{ CARD_ONE["more"] }}</a>
				</footer>
			</div>
		</div>
	</div>
</section>
<section class="section">
  <div class="columns is-centered">
		<div class="column is-half">
			<div class="card">
				<div class="card-header pt-4 is-shadowless has-text-centered">
					<h2 class="card-header-title title">
						{{ CARD_THREE["title"] }}
					</h2>
				</div>
				<div class="card-content has-text-centered is-vcentered">
					<div class="content">
						<div id="carousel-clientes" class="carousel">
							<div class="item-1">
								<figure class="image is-256x256 is-centered is-inline-block has-background-white">
									<img src="theme/byd-canarias_logo.png">
								</figure>
							</div>
							<div class="item-2">
								<figure class="image is-256x256 is-centered is-inline-block has-background-white">
									<img src="theme/casa_africa_logo.jpg">
								</figure>
							</div>
							<div class="item-3">
								<figure class="image is-256x256 is-centered is-inline-block has-background-white">
									<img src="theme/iatext_ulpgc_logo.jpg">
								</figure>
							</div>
						</div>
						<p class="subtitle">
							{{ CARD_THREE["content"] }}
						</p>
					</div>
				</div>
				<footer class="card-footer">
					<a href="{{ CARD_THREE['slug'] }}" class="card-footer-item">{{ CARD_THREE["more"] }}</a>
				</footer>
			</div>
		</div>
	</div>
</section>
<section class="section">
  <div class="columns is-centered">
		<div class="column is-half">
			<div class="card">
				<div class="card-header pt-4 is-shadowless has-text-centered">
					<h2 class="card-header-title title">
						{{ CARD_FIVE["title"] }}
					</h2>
				</div>
				<div class="card-content">
					<div class="content">
						<p class="subtitle">
							{{ CARD_FIVE["content"] }}
						</p>
					</div>
				</div>
        <footer class="card-footer">
					<a href="{{ CARD_FIVE['slug'] }}" class="card-footer-item">{{ CARD_FIVE["more"] }}</a>
				</footer>
		</div>
	</div>
</section>
<section class="section">
  <div class="columns is-centered">
		<div class="column is-half">
			<div class="card">
				<div class="card-header pt-4 is-shadowless has-text-centered">
					<h2 class="card-header-title title">
						{{ CARD_TWO["title"] }}
					</h2>
				</div>
				<div class="card-content">
					<div class="content">
						<p class="subtitle">
							{{ CARD_TWO["content"] }}
						</p>
					</div>
				</div>
        <footer class="card-footer">
					<a href="{{ CARD_TWO['slug'] }}" class="card-footer-item">{{ CARD_TWO["more"] }}</a>
				</footer>
		</div>
	</div>
</section>
{% endblock content %}
