{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ page.title|striptags }} - {{ SITENAME }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
    <section class="hero {% if page.css_class %}{{ page.css_class }}{% else %}is-link{% endif %}" style="padding: 3rem 1.5rem; margin-top: 1.5rem">
        <div class="hero-head" style="padding: 3rem 1.5rem">
            <div class="container">
                <div class="level">
                    <div class="level-left">
                        <h1 class="title">
                            {{ page.title }}
                        </h1>
                        {% if page.subtitle %}
                            <h2 class="subtitle">
                                {{ page.subtitle }}
                            </h2>
                        {% endif %}
                    </div>
                    <div class="level-right has-text-right">
                        <p>
                            <time itemprop="dateCreated" datetime="{{ page.date.isoformat() }}">{{ page.locale_date }}</time>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-body page-body">
            {{ page.content }}
        </div>
        <div class="hero-foot page-foot">
            {% if page.modified %}
                Última actualización: {{ page.locale_modified }}
            {% endif %}
        </div>
    </section>
    <!--
    <h1>{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    

    {% if page.modified %}
        <p>
        Última actualización: {{ page.locale_modified }}
        </p>
    {% endif %}
    -->
{% endblock %}
